.account{
    border-bottom: 1px solid #800000;
    border-top: 1px solid #800000;
    display: block;
    width: 300px;
    font-size: 16px;
    border-radius: 5px;
    background-color:#edebe9;
}
.acc_money{
    text-align: left;
    font-size: 30px;
    height: 5px;
}
.acc_name{
    text-align:left;
    height: 2px;
}
h1{
    font: bold 40px Verada;
}
h2{
    font: bold 26px Galdugi;
}
label{
    font: bold 20px Garamond;
}
input{
    font: 20px Garamond;
    border-radius: 10px;
}
.login_butt,.submit_butt{
    width: 150%;
    height: 30px;
    border-radius: 10px;
    transition-duration: 0.3s;
    
}
.atm_butt{
    width: 200px;
    height: 30px;
    border-radius: 10px;
    transition-duration: 0.3s;
    background-color: darkgray;
    font: bold 15px Verdana
}
button:hover{
    background-color: darkgray;
    color: white;
  }
 button:active {
    background-color: #800000;
    box-shadow: 0 5px #4f4d4d;
    transform: translateY(2px);
  }
.signup{
    background-color: #800000;
    font-size: 35px;
    width: 550px;
    padding: 5px;
    color: white;
    
}
.error{
    font: bold 15px Verdana;
    height: 20px;
    font-style: italic;
    color: #ab090b;
}
.newacc,.update,.bill,.transfer,.deposit{
    font: bold 36px Arial;
    border-bottom: 2px solid #800000;
}
.add_bill{
    border-radius:50px;
}
.table_name{
    border-bottom: 1px solid #800000;
    border-top: 1px solid #800000;
    font: bold 20px Calibri;
}
th,td{
    width: 100px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}
th{
    font: bold 18px Calibri;
}
.atm{
    font: bold 30px Arial;
    color: white;
    background-color: #2d4752;
}